{% extends 'learning_logs/base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="text-center">
        <h1>Rejestracja</h1>
    </div>

        <form method="post" action="{% url 'users:register' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">Rejestruj</button>
            {% endbuttons %}
            <input type="hidden" name="next" value="{% url 'learning_logs:index' %}">
        </form>
{% endblock content %}